.div1{
    background-color: rgb(12, 12, 12);
    width: 500px;
    height: 500px;
}
.div2{
    background-color: rgb(214, 214, 214);
    width: 50%;
    height: 50%;
}
.div3{
    background-color: rgb(126, 126, 126);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}
.div4{
    background-color: rgb(180, 28, 28);
    width: 50%;
    height: 50vh;
}
.div5{
    background-color: rgb(163, 132, 30);
    width: 75vw;
    height: 50%;
}